<div class="container">
  <div class="col-10 offset-1">
    <div class="row">
      <h1 class="mt-4">Editar post</h1>
    </div>
    <%= render 'form' %>
	</div>
</div>

<%= link_to 'Volver', posts_path %>
