<!DOCTYPE html>
<html>
  <head>
    <title>SuperBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Navegation bar -->
  	<nav class="navbar navbar-light bg-light">
  	  <div class="container">
  	    <span class="navbar-brand">SuperBlog</span>
  	    <ul class="navbar-nav navbar-expand">
  	      <li class="nav-item mr-3">
  	        <a href="#" class="nav-link">Ingresar</a>
  	      </li>
  	      <li class="nav-item">
  	        <a href="#" class="nav-link">Registrarse</a>
  	      </li>
  	    </ul>
  	  </div>
  	</nav>

    <%= yield %>
  </body>
</html>
